---
---

@import "minima";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 18px;
  line-height: 1.6;
  color: #333;
  background-color: #f5f5f5;
}

a {
  color: rgb(3 37 108);
}

a:visited {
  color: rgb(23 104 172);
}

.site-title, .post-title {
  color: rgb(3 37 108) !important;
  font-weight: bold;
}

.site-header {
  border-top: 5px solid rgb(3 37 108);
}
